.message-list-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 50px);
	width: 100%;
	overflow-y: auto;
}

.message-list {
	min-height: 100% ;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.message-item-wrapper{
	padding:8px;
	display: flex;
}

.message-item {
	border-radius: 8px;
	width: max-content;
	display: flex;
	gap: 8px;
	&__avatar {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 999px;
		background: var(--gray12);
	}
	&__info {
		display: flex;
		flex-direction: column;
	}

	&__user {
		font-weight: bold;
		margin-bottom: 8px;
	}

	&__text{
		font-size: 16px;
	}
}