:root {
  --gray1: hsl(0 0% 99.0%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93.0%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78.0%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9.0%);
}

.dark-theme {
  --gray1: hsl(0 0% 8.5%);
  --gray2: hsl(0 0% 11.0%);
  --gray3: hsl(0 0% 13.6%);
  --gray4: hsl(0 0% 15.8%);
  --gray5: hsl(0 0% 17.9%);
  --gray6: hsl(0 0% 20.5%);
  --gray7: hsl(0 0% 24.3%);
  --gray8: hsl(0 0% 31.2%);
  --gray9: hsl(0 0% 43.9%);
  --gray10: hsl(0 0% 49.4%);
  --gray11: hsl(0 0% 62.8%);
  --gray12: hsl(0 0% 93.0%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--gray12);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
